{% extends "home.html" %}

{% block title %}Genevieve Signup{% endblock %}

{% block main %}
<form role="form" method="POST" action="/account/signup/" id="signup-form">
  {% csrf_token %}

  <div class="form-group">
    <label for="form.username.label_for">Username</label>
    {% if form.username.errors %}
    <div class="alert alert-danger" role="alert">{{ form.username.errors }}</div>
    {% endif %}
    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username"
              value="{{ form.username.value|default:"" }}">
  </div>

  <div class="form-group">
    <label for="form.email.label_for">Email address</label>
    {% if form.email.errors %}
    <div class="alert alert-danger" role="alert">{{ form.email.errors }}</div>
    {% endif %}
    <input type="email" class="form-control" name="email" id="email-address" placeholder="Enter Email"
              value="{{ form.email.value|default:"" }}">
  </div>

  <div class="form-group">
    <label for="form.password1.label_for">Password</label>
    {% if form.password1.errors %}
    <div class="alert alert-danger" role="alert">{{ form.password1.errors }}</div>
    {% endif %}
    <input type="password" class="form-control" name="password1" id="password-1" placeholder="Enter Password"
              value="{{ form.password1.value|default:"" }}">
  </div>

  <div class="form-group">
    <label for="form.password2.label_for">Retype Password</label>
    {% if form.password2.errors %}
    <div class="alert alert-danger" role="alert">{{ form.password2.errors }}</div>
    {% endif %}
    <input type="password" class="form-control" name="password2" id="password-2" placeholder="Re-enter Password"
              value="{{ form.password2.value|default:"" }}">
   </div>

  <input type="submit" value="Create Account">

</form>
{% endblock main %}
