.filter-table .quick {
  margin-left: 0.5em;
  font-size: 0.8em;
  text-decoration: none;
}

.fitler-table .quick:hover {
  text-decoration: underline;
}

td.alt {
  background-color: #ffc;
  background-color: rgba(255, 255, 0, 0.2);
}
