{% extends "base.html" %}

{% block content %}
<div class="container">
  {% block main %}
  <div class="text-center">
    <h1> Welcome to Genevieve </h1>
    {% if user.is_anonymous %}
    <div id="signup-button">
      <a href="{% url 'account_signup' %}">
        <button type="button" class="btn btn-success btn-lg">
          Sign Up</button>
      </a>
    </div>
    {% else %}
    <a href="{% url 'genomes:reports_list' %}"><button type="button"
        class="btn btn-success btn-lg">
      Go to genome reports</button></a>
    <a href="{% url 'file_process:genome_import' %}"><button type="button"
        class="btn btn-success btn-lg">
      Import a genome</button></a>
    {% endif %}
  </div>
  {% endblock main %}
</div>

{% endblock %}
