{% extends "base.html" %}

{% block content %}
<div class="container">
  {% block main %}
  <div class="text-center">
    <h1> Welcome to Genevieve </h1>
    {% if user.is_anonymous %}
    <div id="signup-button">
      <a href="/accounts/signup/">
        <button type="button" class="btn btn-success btn-lg">
          Sign Up</button>
      </a>
    </div>
    {% else %}
    <a href="/file_process/"><button type="button"
        class="btn btn-success btn-lg">
      Go to genome reports</button></a>
    {% endif %}
  </div>
  {% endblock main %}
</div>

{% endblock %}
