<div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
    aria-labelledby="login-modal-label" aria-hidden="true">

  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">
            Close</span>
        </button>
        <h4 class="modal-title">Genevieve Login</h4>
      </div>

      <div class="modal-body">
        <div style="margin:0px 20px;">
          <form class="form-horizontal" role="form" method="post"
              action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="form.username.label_tag">Username</label>
              <input type="text" id="id_username" class="form-control" maxlength="254"
                name="username" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label for="form.password.label_tag">Password</label>
              <input type="password" class="form-control" placeholder="Enter Password" id=" id_password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
      </div>

      <div class="modal-footer">
        Want an account? <a href='/accounts/signup/'>Sign up!</a>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
