{% extends "base.html" %}
{% block navbar %}
<!-- Button trigger modal -->
{% if user.is_anonymous %}
<button class="btn btn-primary navbar-btn navbar-right" data-toggle="modal" data-target="#myModal">
  Login
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">Genevieve Login</h4>
      </div>
      <div class="modal-body">
	
	<form class="form-horizontal" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
	  {% csrf_token %}
	  <div class="form-group">
	    <label for="form.username.label_tag">Username</label>
	    <input type="text" id="id_username" class="form-control" maxlength="254" name="username" placeholder="Enter Username">
	  </div>
	  <div class="form-group">
	    <label for="form.password.label_tag">Password</label>
	    <input type="password" class="form-control" placeholder="Enter Password" id=" id_password" name="password">
	  </div>
	  <div class="modal-footer">
	    <a href="/accounts/signup/"><button type="button" class="btn btn-success">Sign Up</button></a>
	    <button type="submit" class="btn btn-primary">Login</button>
	    <input type="hidden" name="next" value="{{ next }}" />
	</form>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% else %}
    <a href="/file_process"><button type="button" class="btn btn-primary navbar-btn navbar-right">
	Login
    </button></a>
    {% endif %}
{% endblock %}
{% block content %}
    <h1> Welcome to Genevieve </h1>
    <div id="signup-button">
      <a href="/accounts/signup/"><button type="button" class="btn btn-success btn-lg">Sign Up</button></a>
    </div>
{% endblock %}
    
