{% extends "base.html" %}

{% block title %}Genevieve Login{% endblock %}

{% block content %}
<form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="form.username.label_tag">Username</label>
   <input type="text" id="id_username" class="form-control" maxlength="254" name="username" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="form.password.label_tag">Password</label>
    <input type="password" class="form-control" placeholder="Enter Password" id=" id_password" name="password">
  </div>

  <button type="submit" class="btn btn-default">Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
