{% extends "base.html" %}

{% block title %}Genevieve Signup{% endblock %}

{% block content %}
<form role="form" method="POST"
      action="/accounts/signup/" id="signup-form">
  {% csrf_token %}

  {{ form.username.errors }}

  Username: <input type="text" name="username"
             id="username" placeholder="Username"
             value="{{ form.username.value|default:"" }}">
  <br />

  {{ form.email.errors }}

  Email: <input type="email" name="email"
                id="email-address" placeholder="Email"
                value="{{ form.email.value|default:"" }}">
  <br />

  {{ form.password1.errors }}

  Password: <input type="password" name="password1"
             id="password-1" placeholder="Password"
             value="{{ form.password1.value|default:"" }}">
  <br />

  {{ form.password2.errors }}

  Retype password: <input type="password" name="password2"
                          id="password-2" placeholder="Password"
                          value="{{ form.password2.value|default:"" }}">
  <br />

  <input id="create-account" type="submit" value="Create" />

</form>
{% endblock %}
