{% extends "base.html" %}
{% block title %}Community Comments{% endblock %}
{% block head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script>
$.fn.editable.defaults.mode = 'inline';
$(document).ready(function() {
    $('#username').editable();
});
</script>
{% endblock %}
{% block navbar %}
<a href="/file_process/"><button type="button" class="btn btn-default navbar-btn">Genome Uploads</button></a>
<a href="{% url 'account_logout' %}"><button type="button" class="btn btn-primary navbar-btn navbar-right">Logout</button></a>
{% endblock %}
{% block content %}
<h2>
<a href="http://www.ncbi.nlm.nih.gov/clinvar/{{specific_variant.accnum}}">
{{specific_variant.accnum}}</a></h2>
<h3>{{specific_variant.condition}}</h3>
<p><a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Variant Commentary">Comments</a></p>
{% endblock %}
