{% extends "home.html" %}
{% block title %}Genevieve {{username}}'s Reports{% endblock %}
{% block navbar %}
<a href="{% 'account_logout' %}"><button type="button"
    class="btn btn-primary navbar-btn navbar-right">
  Logout</button></a>
{% endblock %}

{% block main %}

<p>Import data from 23andme:</p>

<div style="margin-top:10px; margin-bottom:20px;">
  <a class='btn btn-primary' href='{{auth_23andme_url}}'>
    Import genotyping data from 23andme
  </a>
</div>

<p>Or upload a file:</p>

<form role="form" action="{% url 'file_process:genome_import' %}" method="post"
    enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    {% if form.uploadfile.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.uploadfile.errors }}
    </div>
    {% endif %}
    <input type="file" id="id_uploadfile"  name="uploadfile">
    <p class="help-block">
      Please upload a gzipped vcf file
    </p>
  </div>
  <div class="form-group">
    {% if form.reportname.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.reportname.errors }}
    </div>
    {% endif %}
    <input type="text" id="id_reportname" class="form-control"
      name="reportname" type="text" placeholder="Enter Filename">
  </div>
  <div class="form-group">
    <select id="id_genome_format" name="genome_format">
      <option value="vcf">VCF</option>
      <option value="cgivar">Complete Genomics var file</option>
    </select>
  </div>
  <p>
    <button type="submit" class="btn btn-default">Submit</button>
  </p>
</form>

{% endblock main %}
