<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Genevieve</title>
  </head>

  <body>
    {# List genome analyses #}
    {% if genome_analyses %}
    <ul>
      {% for genome_analysis in genome_analyses %}
      <li><a href="{{ genome_analysis.uploadfile.url }}">{{ genome_analysis.uploadfile.name }}</a><br/>
        {% if genome_analysis.processedfile %}
        <a href="{{ genome_analysis.processedfile.url }}">{{ genome_analysis.processedfile.name }}</a><br/>
	    {% if genome_analysis.variants %}
	    <a href="report/{{ genome_analysis.id }}/">View Report</a>
	    {% endif %}
        {% else %}
        File processing not complete.
        {% endif %}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No files uploaded.</p>
    {% endif %}

    {# Note enctype 'multipart/form-data' for upload of files. #}
    <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ form.non_field_errors }}</p>
      <p>{{ form.uploadfile.label_tag }} {{ form.uploadfile.help_text }}</p>
      <p>
        {{ form.uploadfile.errors }}
        {{ form.uploadfile }}
      </p>
      <p><input type="submit" value="Upload" /></p>
    </form>

  </body>

</html> 
