{% extends "base.html" %}
{% block navbar %}
<button type="button" class="btn btn-primary">Logout</button>
{% endblock %}
{% block content %}
    {# Welcome user #}
    <h3>Welcome {{username}}!</h3>
    {# List genome analyses #}
    <table class="table table-striped">
      {% if genome_analyses %}
      <thead>
	<tr>
	  <th>File Name</th>
	  <th>Date Added</th>
	  <th>Uploaded File</th>
	  <th>Processed File</th>
	  <th>Report</th>
	</tr>
	</thead>
      <tbody>
      {% for genome_analysis in genome_analyses %}
      <tr>
	<th>
	  File Name
	</th>
	<th>
	  {{ genome_analysis.timestamp }} 
	</th>
	<th>
	  <a href="{{ genome_analysis.uploadfile.url }}">Download Uploaded File</a>
	</th>
        {% if genome_analysis.processedfile %}
        <th>
	  <a href="{{ genome_analysis.processedfile.url }}">Download Processed File</a>
	</th>    
	  {% if genome_analysis.variants %}
	<th>
	    <a href="report/{{ genome_analysis.id }}/">View Report</a>
	</th>
	</tr>
	    {% endif %}
        {% else %}
        File processing not complete.
        {% endif %}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No files uploaded.</p>
    {% endif %}

    {# Note enctype 'multipart/form-data' for upload of files. #}
    <form role="form" action="{% url 'list' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
	<label for="form.uploadfile.label_tag">File input</label>
	<input type="file" id="id_uploadfile"  name="uploadfile">
	<p class="help-block">Please upload a gzipped vcf file</p>
      </div>
      {{ form.uploadfile.errors }}
      <p><button type="submit" class="btn btn-default">Submit</button></p>
    </form>

{% endblock %}
