{% extends "base.html" %}

{% block title %}Genevieve Report{% endblock %}

{% block content %}
    <p>"Hello.  This is report {{genomeanalysis_id}}."</p>
    {% if specific_analysis.variants %}
<div class="table-responsive">
    <table class="table">
      <thead>
	<tr>
	  <th>Chromosome</th>
	  <th>Position</th>
	  <th>Reference Allele</th>
	  <th>Alternate Allele</th>
	  <th>Zygosity</th>
	</tr>
      </thead>
        {% for variant in specific_analysis.variants.all %}
      <tbody>
	<tr class="active">
           <td>{{variant.chrom}}</td> 
	   <td>{{variant.pos}}</td>
	   <td>{{variant.ref_allele}}</td>
	   <td>{{variant.alt_allele}}</td>
	   <td>{{variant.zyg}}</td>
        </tr>
          {% for clinvarrecord in variant.clinvarrecord_set.all %}
            <tr>
	      <td colspan="5"><a href="http://www.ncbi.nlm.nih.gov/clinvar/{{clinvarrecord.accnum}}">
		{{clinvarrecord.condition}}</a>
	      </td>
	    </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
</div>
    {% else %}
	There were no matches against the ClinVar Database.
    {% endif %}
{% endblock %}
