{% extends "base.html" %}

{% block title %}Genevieve Report{% endblock %}

{% block navbar %}
<a href="/file_process/">
  <button type="button" class="btn btn-default navbar-btn">
    Back to Genome Uploads</button></a>
<a href="/accounts/logout">
  <button type="button" class="btn btn-primary navbar-btn navbar-right">
    Logout</button></a>
{% endblock %}

{% block content %}
<h2>Genome Report: {{specific_analysis.name}}</h2>

{% if specific_analysis.variants %}
<div class="table-responsive">
  <table class="table">
    <thead></thead>
    <tbody>
    {% for genomevariant in specific_analysis.genomeanalysisvariant_set.all|dictsort:"variant.freq" %}
    {% with genomevariant.variant as variant %}
      <tr class="active">
        <td>Chromosome: {{variant.chrom}}</td>
	      <td>Position: {{variant.pos}}</td>
	      <td>Reference Allele: {{variant.ref_allele}}</td>
	      <td>Alternate Allele: {{variant.alt_allele}}</td>
	      {% if variant.freq == "." %}
	      <td>Frequency: Not Seen in 1000 Genomes</td>
	      {% else %}
	       <td>Frequency: {{variant.freq}}</td>
	       {% endif %}
         <td>Zygosity: {{ genomevariant.zyg }}</td>
	     </tr>
      {% for clinvarrecord in variant.clinvarrecord_set.all %}
	    <tr>
        <td></td>
	      <td colspan="3"
            style="word-wrap: break-word;min-width: 140px;max-width: 140px;">
          Condition:
          <a href="http://www.ncbi.nlm.nih.gov/clinvar/{{clinvarrecord.accnum}}">
            {{clinvarrecord.condition}}</a>
        </td>
	      <td>Significance: {{clinvarrecord.clnsig}}</td>
	      <td>
	        <a href="/file_process/commentary/{{clinvarrecord.id}}/">
	          Genevieve Re-Evaluation
	        </a>
	      </td>
	    </tr>
      {% endfor %}
    {% endwith %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
There were no matches against the ClinVar Database.
{% endif %}
{% endblock %}
