<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Genevieve Report</title>
  </head>
  <body>
    <p>"Hello.  This is report {{genomeanalysis_id}}."</p>
    {% if specific_analysis.variants %}
        {% for variant in specific_analysis.variants.all %}
        <ul>
	        Chrom: {{variant.chrom}} 
		Pos: {{variant.pos}} 
		Ref: {{variant.ref_allele}}
		Alt: {{variant.alt_allele}}
	        Zygosity: {{variant.zyg}}
          <ul>
          {% for clinvarrecord in variant.clinvarrecord_set.all %}
            <li>Condition: <a href="http://www.ncbi.nlm.nih.gov/clinvar/{{clinvarrecord.accnum}}">
		{{clinvarrecord.condition}}</a>
          {% endfor %}
          </ul>
        </ul>
        {% endfor %}
    {% else %}
	There were no matches against the ClinVar Database.
    {% endif %}
  </body>

</html> 
