{% extends "base.html" %}

{% block title %}Genevieve: Confirm 23andme import for {{username}}{% endblock title%}

{% block content %}
    <h3>Please select and confirm 23andme genotyping data import</h3>

    <form role="form" action="{% url 'file_process:complete_23andme' %}" method="post">
    {% csrf_token %}
        {% for profile in profiles %}
        <input type="radio" name="profile_id"
          value="{{ profile.id }}">{{ profile.first_name }} {{ profile.last_name }}</input>
        {% endfor %}
      <p><button type="submit"
          class="btn btn-default">Import genome</button></p>
    </form>

    <a class="btn" href="{% url 'genomes:reports_list' %}">Cancel</a>
{% endblock %}
