{% extends "home.html" %}

{% block head %}
<script src="/static/js/reports.js"></script>
{% endblock %}
{% block title %}Genevieve {{ username }}'s Reports{% endblock %}

{% block main %}
{# Welcome user #}
<h3>Welcome {{ request.user.username }}!</h3>

{# List genome analyses #}
{% if genomeanalysis_list %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Date Added</th>
      <th>Uploaded File</th>
       <th>Processed File</th>
       <th>Report</th>
     </tr>
  </thead>
  <tbody id="genome-reports-table">
  </tbody>
</table>
{% else %}
<p>No files uploaded.</p>
{% endif %}

{% endblock main %}
