{% extends "home.html" %}

{% block head %}
<script src="/static/js/variants.js"></script>
{% endblock %}

{% block title %}Genevieve Report{% endblock %}

{% block navbar %}
<a href="/file_process/">
  <button type="button" class="btn btn-default navbar-btn">
    Back to Genome Uploads</button></a>
<a href="/accounts/logout">
  <button type="button" class="btn btn-primary navbar-btn navbar-right">
    Logout</button></a>
{% endblock %}

{% block main %}
<h2>Genome Report: {{genomeanalysis.name}}</h2>

{% if genomeanalysis.genomeanalysisvariant_set.all %}
<div class="table-responsive">
  <table class="table">
    <thead>

    </thead>
    <tbody id="genome-variants-table">
    </tbody>
  </table>
</div>
{% else %}
  {% if genomeanalysis.processedfile %}
  <div>
    There were no matches against the ClinVar Database.
  </div>
  {% else %}
  <div>
    We're still processing your file.
  </div>
  {% endif %}
{% endif %}

{% endblock main %}

{% block js_templates %}

<!-- variant-data row template, for GenomeAnalyisisVariant and Variant data -->
<script type="text/template" id="variant-data-template">
  <tr id="${ variantDataId }" class="${ variantDataClass }">
    <td class="variant-chrom">${ variantDataChrom }</td>
    <td class="variant-pos">${ variantDataPos }</td>
    <td class="variant-ref">${ variantDataRef }</td>
    <td class="variant-alt">${ variantDataAlt }</td>
    <td class="variant-freq">${ variantDataFreq }</td>
    <td class="variant-zyg">${ variantDataZyg }</td>
  </tr>
</script>

<!-- clinvar-data row template, for ClinVarRecord data -->
<script type="text/template" id="clinvar-data-template">
  <tr id="${ clinvarDataId }" class="${ variantDataClass }">
    <td class="clnvar-condition" colspan="3" >
      <a href="${ clnvarEntryURL }">${ clnvarEntryCondition }</a>
    </td>
    <td class="clnvar-clnsig">${ clnvarClnsig }</td>
    <td class="clinvar-commentary">
      <a href="${ commentaryURL }">View Variant Report</a>
    </td>
    <td class="exac-link">
      <a href="${ exacURL }">Find on ExAC</a>
    </td>
  </tr>
</script>

{% endblock js_templates %}
