{% extends "home.html" %}

{% block head %}
<script src="/static/js/reports.js"></script>
{% endblock %}
{% block title %}Genevieve {{ username }}'s Reports{% endblock %}

{% block main %}
{# Welcome user #}
<h3>Welcome {{ request.user.username }}!</h3>

{# List genome analyses #}
{% if genomeanalysis_list %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Date Added</th>
      <th>Uploaded File</th>
       <th>Processed File</th>
       <th>Report</th>
     </tr>
  </thead>
  <tbody id="genome-reports-table">
    {% for genomeanalysis in genomeanalysis_list %}
    <tr id="report-{{genomeanalysis.id}}">
      <td class="report-name">{{ genomeanalysis.name }}</td>
      <td class="report-timestamp">{{ genomeanalysis.timestamp }}</td>
      <td class="report-uploadfile">
        {% if genomeanalysis.uploadfile %}
        <a href="{{ genomeanalysis.uploadfile.url }}">
          Download Uploaded File</a>
        {% else %}
        File import not complete.
        {% endif %}
      </td>
      <td class="report-processedfile">
        {% if genomeanalysis.processedfile %}
        <a href="{{ genomeanalysis.processedfile.url }}">
          Download Processed File</a>
        {% else %}
        File processing not complete.
        {% endif %}
      </td>
      <td>
        {% if genomeanalysis.variants %}
        <a href="report/{{ genomeanalysis.id }}/">View Report</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No files uploaded.</p>
{% endif %}

{% endblock main %}
